@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Exo+2:ital,wght@1,500&family=Libre+Baskerville:ital@1&family=Lora:ital@1&family=Merriweather:ital,wght@1,300;1,700&family=Old+Standard+TT:ital@1&family=Playfair+Display+SC:wght@700&family=Playfair+Display:ital,wght@0,500;1,400&family=Roboto+Slab:wght@500;700&family=Spectral+SC&family=Sriracha&family=Unna:wght@700&family=Ysabeau+SC&display=swap');
.main tr,main td{
 font-family: 'EB Garamond', serif; ;
/* background-image:linear-gradient(to left,rgb(194, 18, 174),rgb(102, 34, 103),rgb(194, 18, 174)); */
background:linear-gradient(to right,#ffecd2,#fbaf95);
 font-size: 20px;
}
.photo{
 width:50px ;
}

.down{
    font-family:  'Ysabeau SC', sans-serif;;
    font-weight: 600;
     color: white;
  background-color: rgb(151, 23, 91);
  height: 100vh;
}

h1{
  
    font-size: 50px;
    text-shadow: 5px 30px 20px black;
}
.heading{
  background:linear-gradient(to right,#ffecd2,#fbaf95);
font-family: 'Playfair Display', serif;;
color: white;

}

.abc  span{
    width: 100px;
    height: 100px;
    animation: anime;
    animation-iteration-count: infinite;
    animation-duration: 2s;

}
@keyframes anime{
    from {
        color:white;
    }
    to {
        color:black;
    }
      to{
        color:rgba(0, 0, 0, 0.282);
      }
}